<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Babies</title>
    <link rel='stylesheet' href='../stylesheets/reset.css' />
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <link rel='stylesheet' href='../stylesheets/baby-style.css' />
</head>
<body>
{{#if error }}
    <h2 class="error-msg">{{error}}</h2>
{{/if}}
{{{body}}}
</body>
</html>