<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Babies</title>
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/css/baby-style.css" type="text/css" />
</head>
<body>
    @RenderBody()
</body>
</html>