@model SoftUniBabies.Models.Baby

@{
    ViewData["Title"] = "GrowUp";
}

<div class="wrapper">
    @using (Html.BeginForm("Delete", "Baby", FormMethod.Post, new { @class = "baby-create" }))
    {
        @Html.AntiForgeryToken()
        <div class="create-header">
            Grow Up
        </div>
        <div class="create-name">
            <div class="create-label">Name</div>
            <input class="create-content" name="name" value="@Model.Name" disabled="disabled" />
        </div>
        <div class="create-name">
            <div class="create-label">Gender</div>
            <input class="create-content" name="gender" disabled="disabled" value="@Model.Gender"/>
        </div>
        <div class="create-name">
            <div class="create-label">Birthday</div>
            <input type="date" min="2018-01-22" max="2018-04-27" class="create-content" name="birthday" value="@Model.Birthday" disabled="disabled" />
        </div>
        <div class="create-button-holder">
            <button type="submit" class="submit-button">Grow Up</button>
            <a type="button" href="/" class="back-button">Back</a>
        </div>
    }
</div>