{% extends "base.html.twig" %}

{% block main %}
    <div class="wrapper">
        <form class="baby-create" method="post">
            <div class="create-header">
                Grow Up
            </div>
            <div class="create-name">
                <div class="create-label">Name</div>
                <input class="create-content" name="baby[name]" readonly value="{{ baby.name }}"/>
            </div>
            <div class="create-name">
                <div class="create-label">Gender</div>
                <input class="create-content" name="baby[gender]" readonly value="{{ baby.gender }}"/>
            </div>
            <div class="create-name">
                <div class="create-label">Birth Day</div>
                <input type="date" min="2018-01-22" max="2018-04-27" class="create-content" name="baby[birthday]"
                       readonly value="{{ baby.birthday }}"/>
            </div>
            <div class="create-button-holder">
                <button type="submit" class="submit-button">Grow Up</button>
                <a type="button" href="/" class="back-button">Back</a>
            </div>
            {{ form_row(form._token) }}
        </form>
    </div>
{% endblock %}